In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
#special case of pivot tables
# Let's create a quick data set
from io import StringIO

data ="""\
Sample   Animal   Intelligence
1        Dog     Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

#Store as dframe
dframe = pd.read_table(StringIO(data),sep='\s+')

In [6]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [7]:
#create crosstabulation as frequence table
# all animals seperated by intelligence 
pd.crosstab(dframe.Animal,dframe.Intelligence, margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6