In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas
from numpy.random import randn

In [3]:
#create series
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    3.005064
   b    0.731756
   c   -0.345539
2  a   -0.657554
   b   -1.635837
   c    0.376289
dtype: float64

In [4]:
#check multiple levels
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [5]:
#check specific
ser [1]

a    3.005064
b    0.731756
c   -0.345539
dtype: float64

In [6]:
ser[2]

a   -0.657554
b   -1.635837
c    0.376289
dtype: float64

In [7]:
#call index from internal index level - find out the 'a' values 
#the : is specifying the higher level
ser[:,'a']

1    3.005064
2   -0.657554
dtype: float64

In [8]:
#create dataframes 
dFrame = ser.unstack()
dFrame

          a         b         c
1  3.005064  0.731756 -0.345539
2 -0.657554 -1.635837  0.376289

In [13]:
#multiple level indexing to dataframe
#constructing multiple level indexing to dataframe
dFrame2 = DataFrame(np.arange(16).reshape((4,4)),index=[['a','a','b','b'],[1,2,1,2]],
                                columns=[['NY','NY','LA','SF'], ['cold','hot','hot','cold']])

In [14]:
dFrame2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [15]:
#keeping track of your index levels by naming them 
dFrame2.index.names = ['INDEX_1','INDEX_2',]
#NAME COLUMNS
dFrame2.columns.names = ['Cities','Temp']

dFrame2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
#interchange the orders change cities with temperature
#using swaplevel
#axis=1 is to mark that we change columns
dFrame2.swaplevel('Cities','Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [28]:
#sort levels is now sort_index
dFrame2.sort_index(1)

Cities           LA   NY       SF
Temp            hot cold hot cold
INDEX_1 INDEX_2
a       1         2    0   1    3
        2         6    4   5    7
b       1        10    8   9   11
        2        14   12  13   15

In [29]:
#compute a sum on certain level
dFrame2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27