In [1]:
import numpy as np

In [2]:
myList1 = [1,2,3,4]

In [3]:
myArray1 = np.array(myList1)

In [4]:
myArray1

array([1, 2, 3, 4])

In [5]:
myList2 = [11,22,33,44]

In [6]:
myLists = [myList1,myList2]

In [7]:
myLists

[[1, 2, 3, 4], [11, 22, 33, 44]]

In [8]:
myArray2 = np.array(myLists)

In [9]:
myArray2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [10]:
myArray2.shape 
#shape method - every list creates new row (what we see)

(2, 4)

In [11]:
myArray2.dtype

dtype('int64')

In [12]:
np.zeros(5)
#they are floating type

array([0., 0., 0., 0., 0.])

In [13]:
myZerosArray = np.zeros(5)

In [14]:
myZerosArray.dtype

dtype('float64')

In [15]:
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [16]:
np.empty(5)

array([ 1.  ,  2.75,  6.  , 10.75, 17.  ])

In [17]:
np.eye(5)
#identity metrics

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [18]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [19]:
np.arange(5,50,2)
#start point,end point, steps

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])