In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#pivot tables - create some data from pandas testing utility
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas._testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [5]:
dframe

          date variable     value
0   2000-01-03        A -0.128159
1   2000-01-04        A  0.953033
2   2000-01-05        A  2.598600
3   2000-01-06        A -0.434893
4   2000-01-07        A  0.168480
..         ...      ...       ...
115 2000-02-07        D -0.721291
116 2000-02-08        D -0.285588
117 2000-02-09        D -2.891083
118 2000-02-10        D  0.591614
119 2000-02-11        D  2.719237

[120 rows x 3 columns]

In [6]:
#this data frame is stacked 
#we want to know the variables on a,bc,d and on specific dates
dframe_piv = dframe.pivot('date','variable','value')

In [7]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.128159 -0.194577  0.783326 -0.313863
2000-01-04  0.953033  0.288927  0.268056  0.214074
2000-01-05  2.598600 -0.051857 -0.994350 -0.671555
2000-01-06 -0.434893  0.671176 -0.252405  1.647846
2000-01-07  0.168480  0.123797 -0.459110 -0.019511
2000-01-10 -1.740122 -0.148907  0.288582  0.995693
2000-01-11  0.050713 -0.033003  1.378252 -1.299932
2000-01-12 -0.609712  1.042590  0.369506 -0.696234
2000-01-13 -1.411407 -0.019210  0.139482  0.287996
2000-01-14 -0.157108 -0.695802  0.144057 -0.126906
2000-01-17 -0.801762  1.936628  0.091814 -0.691753
2000-01-18  2.514275  1.357241 -0.151175 -0.561710
2000-01-19  0.241812 -0.324848 -0.771281  0.095457
2000-01-20  1.058938  0.565895 -1.309822 -0.394462
2000-01-21  0.022470  0.108444 -0.032327 -0.655246
2000-01-24  0.293265  0.843253  1.213753 -0.814756
2000-01-25  0.262625  0.160269  1.958533 -0.167450
2000-01-26 -0.029411 -0.421984 -0.823056  0.566593
2000-01-27  0.532170 -0.678945 -0.183984  0.651006
2000-01-28 -1.215169 -1.145225  1.035245 -0.520416
2000-01-31 -1.472699 -0.259898 -0.151846  2.284921
2000-02-01 -0.523070  0.812856 -1.107599 -0.016249
2000-02-02 -0.512864 -0.014671  0.690970  0.144103
2000-02-03 -1.159226  1.435921 -0.604327  0.121202
2000-02-04 -0.902917 -1.806899 -0.354266  0.123593
2000-02-07 -0.268709 -1.222883  0.814606 -0.721291
2000-02-08 -0.417771 -0.608431 -1.025559 -0.285588
2000-02-09 -0.327799  0.125972  0.481248 -2.891083
2000-02-10  0.101934 -0.453542  0.748302  0.591614
2000-02-11  0.828160  1.516569 -2.025462  2.719237