In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
#lec25.csv - open it 
#needs to be stored in the same folder 
dFrame = pd.read_csv('lec25.csv')
dFrame

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
#if we dont want first row to be the column name
#remove the header 
dFrame = pd.read_csv('lec25.csv', header= None)

In [5]:
dFrame

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
#import csv table using readtable method
#can read any file with specifyied delimiter
dFrame = pd.read_table('lec25.csv',sep=',',header = None)
dFrame

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
#not reading all rows in the table
pd.read_csv('lec25.csv', header = None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [9]:
#export file
dFrame.to_csv('mytextdata_out.csv')

In [10]:
#using other delimiters 
import sys

In [11]:
#showing the output BUT NOT saving
dFrame.to_csv(sys.stdout,)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [12]:
dFrame.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [13]:
dFrame.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [15]:
#write only specific columns to csv
dFrame.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5