In [2]:
#reindex and change the index 

import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [18]:
#change index
#start building new series
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [19]:
#fill-in values
ser2 = ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [21]:
ser3 = Series (['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [22]:
#reindex - so we do a fill. 
#create a new object
ranger = range(15)
ranger

range(0, 15)

In [23]:
#reindexing the ser3 - ffill - forward fill it will fill from 0 to 4 the missing values until seeing the next value (5 and Mexico)
ser3 = ser3.reindex(ranger,method = 'ffill')
ser3
#you can also do backward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [28]:
#reindex rows and columns.
#you need a dataframe
#randn - gives you 25 random numbers. reshape give you a 5 by 5 reshape
dFrame = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], 
                   columns=['col1','col2','col3','col4','col5'])

dFrame

       col1      col2      col3      col4      col5
A -0.581942  0.124200 -0.651135 -0.503799 -0.162485
B  1.173030 -1.506588 -0.839664 -0.121099  1.340382
D  1.509533 -0.855970  0.219350  1.434570 -1.264388
E  0.187476  1.612246 -0.711950  1.702562  0.412679
F  1.316216  0.950835 -0.683046  0.266254 -0.490922

In [29]:
#we forgot 'C' so lets add it
dFrame2 = dFrame.reindex(['A','B','C','D','E','F'])

dFrame2

       col1      col2      col3      col4      col5
A -0.581942  0.124200 -0.651135 -0.503799 -0.162485
B  1.173030 -1.506588 -0.839664 -0.121099  1.340382
C       NaN       NaN       NaN       NaN       NaN
D  1.509533 -0.855970  0.219350  1.434570 -1.264388
E  0.187476  1.612246 -0.711950  1.702562  0.412679
F  1.316216  0.950835 -0.683046  0.266254 -0.490922

In [30]:
#excplicit reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

In [32]:
#reindex columns - call them 
dFrame2 = dFrame2.reindex(columns = new_columns)
dFrame2

       col1      col2      col3      col4      col5  col6
A -0.581942  0.124200 -0.651135 -0.503799 -0.162485   NaN
B  1.173030 -1.506588 -0.839664 -0.121099  1.340382   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.509533 -0.855970  0.219350  1.434570 -1.264388   NaN
E  0.187476  1.612246 -0.711950  1.702562  0.412679   NaN
F  1.316216  0.950835 -0.683046  0.266254 -0.490922   NaN

In [69]:
dFrame

       col1      col2      col3      col4      col5
A -0.581942  0.124200 -0.651135 -0.503799 -0.162485
B  1.173030 -1.506588 -0.839664 -0.121099  1.340382
D  1.509533 -0.855970  0.219350  1.434570 -1.264388
E  0.187476  1.612246 -0.711950  1.702562  0.412679
F  1.316216  0.950835 -0.683046  0.266254 -0.490922

In [66]:
#use .loc instead of .iloc and .ix - ROWS
dFrame = dFrame.loc[dFrame.index.intersection[(['A','B','C','D','E','F']), :], new_columns]

TypeError: 'method' object is not subscriptable

In [72]:
dFrame.loc[dFrame.index.intersection(new_columns)]

#not what we want

Empty DataFrame
Columns: [col1, col2, col3, col4, col5]
Index: []

In [73]:
dFrame = dFrame.loc(rows = new_columns)

TypeError: __call__() got an unexpected keyword argument 'rows'