In [1]:
#series
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series ([3,6,9,12])

obj
#each value is indexed

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values
#shows us the values

array([ 3,  6,  9, 12])

In [7]:
obj.index
#shows us the index

RangeIndex(start=0, stop=4, step=1)

In [9]:
#crete series with values and index
ww2_cas = Series ([8700000,4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [10]:
ww2_cas['USA']
#check the values in this index

400000

In [11]:
#check which countries had casualties greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [12]:
#order in dictionnary - check if a value is in the series
'USSR' in ww2_cas

True

In [14]:
#convert a series into dictionary 
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [15]:
#convert back to a series. you can feed dictionaries into series
ww2_series = Series (ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [16]:
#pass a dictionary into series and in order 
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [17]:
#refine another series coming from our dictionary and wiht the index countries
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [18]:
#check if we have null values 
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [19]:
#look if there are NOT nulls in the values
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [20]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [21]:
#add series to series 
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [22]:
#if we add our ww2_series with obj2 - we will expect to have no value for argentina 

ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [23]:
#give your series names - only for label 
obj2.name = 'World War 2 Casualties'
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [25]:
#naming index - labeling index 
obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

NameError: name 'webbrowser' is not defined